/* index specific video css, for a different opacity
+ repositioning the video so mobile views aren't just staring at shadow */

.banner video {
    opacity: 1;
    object-position: 15%;
}

/* fix index.html specific images */

@media (min-width: 48rem) {
    /* index.html */
    #img-animals {
        object-position: 50% 25%;
    }

    /* index.html */
    #img-places {
        object-position: 50% 50%;
    }
}

@media (min-width: 160rem) {
    /* index.html */
    #img-humans {
        object-position: 50% 20%;
    }

    /* index.html */
    #img-places {
        object-position: 50% 55%;
    }
}