/* index specific css, moved here because it's messing up the other pages */

.banner video {
    opacity: 1;
    object-position: 15%;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

img {
    aspect-ratio: 1 / 0.5;
    object-fit: cover;
    object-position: 50% 10%;
}

@media (min-width: 48rem) {
    img {
        aspect-ratio: 3 / 1;
    }

    #img-animals {
        object-position: 50% 25%;
    }

    #img-places {
        object-position: 50% 50%;
    }
}