/* index specific css, moved here because it's messing up the other pages */

.banner video {
    opacity: 1;
    object-position: 15%;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

@media (min-width: 32rem) {
    img {
        height: 15rem;
    }
}

@media (min-width: 50em) {
    img {
        height: 25rem;
    }
}

@media (min-width: 100rem) {
    img {
        height: 40rem;
    }
}