/*  */


nav {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;

    margin: 1rem; 
}

/* NAV BUTTON SECTION ----------------------------------------- */

#nav-button {
    width: 4rem;
    height: 4rem;
    border: none;
    padding: 0;
    border-radius: 1rem;
    left: .5rem;
    top: 0.5rem;

    z-index: 100;
    background-color: white;
    position: relative;
}

nav svg {
    width: 3.5rem;
    height: 3.5rem;

    position: absolute;
    left: .25rem;
    bottom: .25rem;
}

#close-menu-svg path {
    stroke: white;
}

/* NAV LIST SECTION ----------------------------------------- */

#nav-list {
    list-style-type: none;
    background-color: #ffffffe0;
    box-shadow: 0 0 1rem #ffffff4e;
    border-radius: 1rem;

    width: 6rem;
    position: absolute;
    bottom: -2rem;
    left: 0;

    padding: 0 1rem 6.5rem 0;
    margin: 0;

    display: none;
}

#nav-list li {
    text-align: center;
    padding: 1rem 0;
}

#nav-list li a {
    color: #09121a;
    font-size: 1rem;

    /* there isn't a padding: auto, how do you fill the rest
        of a preformatted container? */
    padding: 1rem 0.5rem;
    width: 6rem;
    text-decoration: none;
}

#nav-list.toggled {
    display: block;
}